!!! 5

%html
  %head
    %meta{:charset => "utf-8"}
    %title="Jasmine Spec Runner"
    %link{:rel => "shortcut icon", :type => "image/png", :href => "lib/jasmine-1.3.0/jasmine_favicon.png"}
    = stylesheet_link_tag "jasmine.css"
    = javascript_include_tag "spec/jasmine", "spec/jasmine-html"
    = javascript_include_tag "Player", "Song", "Basket", "Item"
    = javascript_include_tag "spec/SpecHelper", "spec/PlayerSpec", "spec/BasketSpec"
    = javascript_include_tag "spec/lancementJasmine"
  %body
